.row
  .col-sm-6
    h5.request-btns-push-left
      span: +userLink(request.requester)
      span= ' wants to give:'
    ul.list-group
      each book in request.gives
        li.list-group-item
          small: +requestsBadge(book)
          h4= book.name
          p= book.description
  .col-sm-6
    h5
      = 'and wants to take:'
    ul.list-group
      each book in request.takes
        li.list-group-item
          small: +requestsBadge(book)
          h4
            = `${book.name}`
            small.text-muted
              | &nbsp;from&nbsp;
              span: +userLink(book.owner)
          p= book.description
